---
---

@import "minima";

:root {
    --lgreen: #e3ffe0;
    --white: #ffffff;
    --ltan: #f5ead1;
    --tltan: rgba(238, 229, 210, 0.8);
    --twhite: rgba(255, 255, 255, .6);
    --brown: #501000;
    --spring: #80a000; 
    --black: #200500;
    --text: #24160a;
    --dgreen: #4c5711;
    --mgreen: #7a9221;
    --teal: #204939;
}
body {
    background-color: var(--lgreen); 
    font-family: Georgia;
    font-size: 12px; 
    color: var(--text);
} 
header * {
    color: var(--text);
}
.box {
    padding: 5px;
    background-color: var(--white);
    border: 1px solid var(--black);
}
.navbox {
    padding: 6px;
    border: 1px solid var(--black);
    background-color: var(--twhite);
}
.bunnybox {
    border: 1px solid var(--black);
    background-image: url("terraria-bunny.gif");
    background-position-y: 49%;
    background-size: 200px;
    padding: 5px;
}

a:link {
    color: var(--mgreen);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: var(--mgreen);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: var(--dgreen);
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: var(--dgreen);
    background-color: transparent;
    text-decoration: underline;
}

.site-header { border-top: 5px solid var(--teal); border-bottom: 1px solid var(--teal); min-height: 55.95px; position: relative; }
.site-footer { border-top: 1px solid var(--teal); padding: 10px 0px; margin-top: auto;}


th, td {
    padding: 1px; 
    border-bottom: 1px solid #dddd;
}
table {border-spacing: 30px;}