<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/main.css">
  {%- include head.html -%}

  <body>

    {%- include header.html -%}
 
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}

        <div class = "bunnybox">
            <div class="navbox">
                you have reached the end of the page
            </div>
        </div>
        
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>